# =============================================
# Fingerspot ADMS Microservice - Config
# =============================================

# --- Database MySQL Lokal ---
DB_HOST=db
DB_PORT=3306
DB_USER=adms_user
DB_PASSWORD=adms_password
DB_NAME=presensi_local

# --- Enkripsi PDP Template Biometrik (Fernet 32-byte Base64) ---
ENCRYPTION_KEY=g-zVvD9_d2z-2Bv9GkY2tZ8Sj7XoBwO_c6L_x5Jm3rE=

# --- Server Port (disesuaikan dengan menu Cloud Server di mesin) ---
API_HOST=0.0.0.0
API_PORT=5005
DEBUG=false
AUTO_REGISTER_DEVICE=true
